@import url(./global.css);

/* ----------------------Header---------------------- */
header{
    position: static;
    /* position: sticky; */
    /* top: 0px;     */
}

.logo img{
    width: 16.5rem;
    position: absolute;
    z-index: 1;
    top: 0.4rem;
    left: 1.6rem;
}

.nav-header{
    background-color: var(--cor-main-light-blue);
    padding: 1rem 6.25rem 1rem 12rem;
    border-radius: 2.2rem;
    position: absolute;
    z-index: 0;
    top: 7.8rem;
    left: 6.4rem;

}
.nav-header ul{
    display: flex;
    gap: 6rem;
}

.nav-header ul a li{
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--cor-neutral-black);
    text-transform: uppercase;
}

.nav-header ul a li:hover{
    color: #094074;
}

/* ----------------------Fim Header---------------------- */

/* ----------------------Main---------------------- */
main{
    display: flex;
    /* gap: 20px; */
    justify-content: space-evenly;
    padding: 0px 100px;
    margin-top: 300px;
    border-bottom: 3px solid var(--cor-main-blue);
}

main img{
    margin-top: 50px;
    width: 700px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.content p{
    width: 504px;
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: var(--cor-neutral-black);
    text-align: center;
}

.main-btn{
    /* width: 290px; */
    width: 704px;
    display: flex;
    justify-content: center;    
}

.main-btn a{
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--cor-neutral-black);
    transition: 1s;
}

.main-btn a:hover{
    color: #165a9b;
    font-size: 1.75rem;
}


/* ----------------------Fim Main---------------------- */